<!--<div class="call">-->
<!--  <div class="call-box-top">-->
<!--    Voyons ensemble ce que l'IA peut faire pour votre activité-->
<!--  </div>-->
<!--      <div class="call-box-bottom">-->
<p style="text-align: center">
        <a href="/contact" class="button" style="width: 300px; text-align: center">Contact</a>
</p>
<!--      </div>-->
<!--</div>-->


<!--<div style="width:100%;text-align:right;">-->

<!--    <form action="https://formkeep.com/p/26be0768ea7072197d1578f1e74ab0f9" method="get" target="_blank">-->
<!--        <button type="submit" class="button btn btn-lg btn-block" style="margin: auto">Contact</button>-->
<!--    </form>-->
<!--</div>-->