{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1" style="text-align: center">
        <p>
          <img src="images/logo/logo-1.png" style="max-width: 100%; height: auto; margin-bottom: 30px; alignment: center" alt="Responsive image">
        </p>
        {{ .Content }}
        {{ if .Site.Params.homepage.show_contact_box }}
          {{ partial "call.html" (dict "site" .Site "context" . "show_button" "false") }}
        {{ end }}
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ .Title }}
          class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
          src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
    </div>
    <div class="row justify-content-center">
      {{ range .Site.Data.clients }}
      <div class="col-6 col-md-3 col-lg-3">
        <div class="client">
          {{ if .image }}
          {{ $image := resources.Get (.image | relURL) }}
          {{ $image := $image.Fit "120x80" }}
          {{ $image := $image.Filter images.Grayscale }}
          <a href="{{.link}}" target="_blank">
            <img alt="{{ .Title }}" src="{{ $image.RelPermalink }}" />
          </a>
          {{ end }}
          <!--          <h2 class="client-title">{{ .title }}</h2>-->
          <!--          <div class="client-content">-->
          <!--            <p>{{ .description }}</p>-->
          <!--          </div>-->
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>

{{ $offers := where (where .Site.RegularPages "Type" "offers") ".Params.featured" true }}
{{if gt (len $offers) 0}}
<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {{ range first 6 (sort $offers ".Params.weight") }}
      <div class="col-12 col-md-4 mb-1">
        {{ .Render "summary" }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{end}}

{{if .Site.Data.features}}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      {{ range .Site.Data.features }}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {{ if .image }}
          <div class="feature-image"><img width="100" height="100" alt="{{ .Title }} logo"
              src="{{ .image | relURL }}" /></div>
          {{ end }}
          <h2 class="feature-title">{{ .title }}</h2>
          <div class="feature-content">
            <p>{{ .description }}</p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}

<div class="container pt-6 pb-6">
  <h2 align="center">Case Studies</h2>
  <br/>
  <div class="row">
    {{ range  ( where .Site.RegularPages.ByWeight "Type" "posts" ) }}
    <div class="col-12 col-md-6 mb-3">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>

{{ end }}

{{ define "footer_js" }}
{{ end }}
